<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {# <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" /> #}
    {% set css %}
        {% include "critical.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap' %}
    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
    {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
    {% endfor %}
    {% endif %}


</head>
<body>
    {% include 'header.njk' %}
    <main tabindex="-1" id="main-content">
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>