<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="page-header">
    <div class="page-header__content">
      <div>
        <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
          <p>City Edition Studio</p>
        </a>
      </div>
      <nav aria-label="Primary">
        
        <ul role="list" class="nav-list flex-group">
          {# made available by the nagivation.json file in the _data folder #}
            {% for item in navigation.items %}
            <li>
              <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                >{{ item.text }}</a
              >
            </li>
            {% endfor %}
        </ul>
      </nav>
    </div>
</header>