{% extends "layouts/base.njk" %} 

{% block content %}

    <!-- portfolio.json adds the 'project' tag to every project -->
        
    <div class="section container">
    <h1 class="section-title">About</h1>
    <p>wasson?</p>
    </div>

{% endblock %}
