{% extends "layouts/base.njk" %}

{% block content %}

{% set responsiveImages = image | responsiveBackgroundImage %}

{# Just for optimised BG images #}
<style>
    .project__images {
        background-image: url('{{ responsiveImages[400] }}'); /* Default to smallest image in WebP format */
        background-size: cover;
        background-position: center;
    }

    @media (min-width: 600px) {
        .project__images {
            background-image: url('{{ responsiveImages[600] }}');
        }
    }

    @media (min-width: 900px) {
        .project__images {
            background-image: url('{{ responsiveImages[900] }}');
        }
    }

    @media (min-width: 1400px) {
        .project__images {
            background-image: url('{{ responsiveImages[1400] }}');
        }
    }
</style>

  <article class="main-article">
    <div class="project__images">
      <div class="info__panel">
        <h2 class="article-title">
          {{ title }}
        </h2>
        
        {{ content | safe }}

        <a href="{{ link }}" class="">{{ link }}</a>
      </div>
    </div>
  </article>
  <article>
    {% optimizeImage image, imageAlt %}
  </article>

  {% for section in content_sections %}
  {% if section.type == "text_section" %}
    <h2>{{ section.title }}</h2>
    <p>{{ section.content | safe }}</p>
  {% elif section.type == "gallery_section" %}
    <div class="project__gallery">
      {% for image in section.gallery_images %}
        {% optimizeImage image.image, image.caption %}
        <p>{{ image.caption | safe }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}


{% endblock %}

{% block head %}

    {% set css %}
        {% include "css/project.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>

{% endblock %}