{% extends "layouts/base.njk" %} 

{% block content %}

    <!-- portfolio.json adds the 'project' tag to every project -->
        
    <div class="section container">
    <h1 class="section-title">Contact</h1>

    </div>

{% endblock %}
