{% extends "layouts/base.njk" %} 

{% block content %}

  <section class="hero">
      {%- for project in collections.project | reverse -%}
        {% include "partials/project-snippet.njk" %}
      {%- endfor -%}
  </section>

{% endblock %}

{% block head %}

    {% set css %}
        {% include "css/home.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>

{% endblock %}