{% extends "layouts/base.njk" %} 

{% block content %}

    <!-- portfolio.json adds the 'project' tag to every project -->
        
    <div class="section container">
    <h1 class="section-title">Portfolio</h1>
    <ul role="list" class="articles__list flow">
        {%- for project in collections.project | reverse -%}
            {% include 'partials/project-snippet.njk' %}
        {%- endfor -%}
    </ul>
    </div>

{% endblock %}
