---
title: City Edition Studio
layout: base.njk
metaDesc: 'City Edition Studio is the graphic design and web development practice of Jono Lewarne, operating out of Bristol'
---

{% set pageCriticalStyles = ['/css/home.css'] %}
      
<section class="hero">
    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
</section>

{% set ctaContent = primaryCTA %} 
{% include "partials/cta.html" %} 

{% set ctaContent = cta %} 
{% include "partials/cta.html" %}