<article class="project {{ project.data.project_class }}" aria-label="See {{ project.data.title }}" style="background-image: url({{ project.data.featured_image }});">
    <a href="{{ project.url }}" class="" aria-label="See {{ project.data.title }}">
        <div class="project__title">
            <h3 class="snippet__title"><a href="{{ project.url }}">{{ project.data.title }}</h3>
        </div>
    </a>
</article>